:root {
  --primary-color: #253031;
  --secondary-color: #c6e0ff;
  --box-shadow: 0 5px 10px rgba(#315659, #2978a0, #bcab79, 0.3);
}

body {
  margin: 60px auto;
  max-width: 800px;
  background-color: #479aff;
  font-family: "Sofia", sans-serif;
}

h1,
h2,
h3,
h4 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 25px;
  opacity: 0.5;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  height: 360px;
}

hr {
  border-top: 10px dotted #081820;
}

p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

a {
  color: #143d52;
  text-align: center;
  margin: auto;
  text-shadow: #081820;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  border: 5px solid var(--secondary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  background: var(--primary-color);
  border: 5px solid var(--secondary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.homepage-link {
  color: var(--secondary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
